body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e27878;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3N0dXIxeGxvbHE3bjNlZHJhMTQ5ZGhqNmFnZjVlaWZzZHRoZ3BobyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/4AsBELtk803LS3dG4g/giphy.gif);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
.redo{
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.no-png{
    width: 10;
    height: auto;

  }
